#mobile-menu {
	margin-top: 15px;

	color: #fff;
	background-color: $bf-blue;

	button {
		margin: 0;
		padding: 0.7em 1em;

		background-color: $bf-blue;

		.fa {
			margin-right: 10px;
		}
	}
}

.off-canvas {
	button, button:hover, button:focus {
		margin: 0;
		padding: 10px;

		color: #333;
		background-color: transparent;
	}
}

ul.dropdown.menu {
	margin-bottom: 10px;
	background-color: $bf-blue;

	font-size: 13px;

	> li.is-dropdown-submenu-parent > a, > li > a {
		color: #fff;

		&::after {
			border-top-color: #fff;
		}
	}
}

.menu.submenu {
	z-index: 200;
}
