@import '_colours';
@import '_mixins';
@import '_header';
@import '_nav';
@import '_signup';
@import '_herobox';
@import '_parkinfo';
@import '_furtherlinks';
@import '_footer';

body {
	font-size: 13px;
}
.rounded {
	@include border-radius;
}

.button, .label {
	@include border-radius;

	&.success {
		background-color: $success-green;

		&:hover {
			background-color: darken($success-green, 10%);
		}
	}
}
